:root {
    --background-col: darkcyan;
}
* {
    font-family: "Nunito", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-width: 420px;
}

header, footer{
    background-color: var(--background-col);
    color: white;
}

h1 {
    text-align: center;
}

main {
    background-color: var(--background-col);
    color: black;
}

main picture {
    display: block;
    width: auto;
    height: 100%;
}
picture img {
    width: 100%;
    height: auto;
}

section {
    background-color: pink;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
    padding: 1rem;
}
section h2 {
    text-align: center;
    font-size: 28px;
    padding-bottom: 1rem;
}
.icon {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
}

.data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 16px;
}
.label {
    display: block;
    text-align: right;
    font-weight: bold;
}
.label::after {
    content: ":";
}

footer {
    text-align: center;
    height: 8rem;
    padding: 1rem;
    min-height: 2rem;
}
footer p {
    font-size: 24px;
}
#lastModified {
    color: black;
    font-size: 18px;
}

/* LARGE VIEW */
@media (min-width: 800px) {
    main {
        position: relative;
    }
    main picture {
        position: relative;
    }
    section {
        background-color: #ffffffcc;
        display: block;
        position: absolute;
        border: none;
    }
    section h2 {
        text-align: left;
        padding: 1rem;
        margin-bottom: 10px;
        background-color: #ffc0cbaa;
    }
    section img {
        opacity: 0;
    }
    #data {
        top: 5%;
        left: 5%;
    }
    #weather {
        bottom: 5%;
        right: 5%;
    }
    
    .icon {
        position:absolute;
        top: 20px;
        right: 20px;
        padding-bottom: 0;
    }
    .icon::after {
        font-size: 40px;
        content: "🌥️";
        text-align: center;
    }
    
}